@media only screen and (max-width: 300px) {
  #app,
  .input-box,
  .label,
  .description-box,
  .modal-content,
  .model,
  .button,
  .submit-btn,
  .update-btn,
  .add-post,
  .list {
    width: 100%;
  }
}

.input-box {
  width: 93%;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  margin-bottom: 5px;
}

.label {
  font-size: inherit;
  line-height: 1.5;
}

.description-box {
  width: 93%;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
}

.button {
  color: white;
  font-size: 0.9rem;
  float: right;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1em;
  margin-right: 5px;
  border-radius: 0.4rem;
}

.submit-btn {
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background: blue;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 10px 7px 0 0;
  border-radius: 0.3rem;
}

.submit-btn:hover {
  background: #006BF5;
}

.list {
  margin: 5px;
  background: white;
  padding: 10px;
  border-radius: 15px;
  pointer-events: auto;
}

.list:hover {
  background: #80616151;
}

h3,
h4,
p {
  margin: 5px 0 5px 0;
}

.modal-content {
  background-color: #f6f6f6;
  margin: 1% 5%;
  padding: 10px;
  border: 1px solid #888;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}