@media only screen and (max-width: 300px) {
  #app,
  .input-box,
  .label,
  .description-box,
  .modal-content,
  .model,
  .button,
  .submit-btn,
  .update-btn,
  .add-post,
  .list {
    width: 100%;
  }
}

.update-btn {
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background: rgb(212, 139, 3);
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 10px 10px 0 0;
  border-radius: 0.3rem;
}

.update-btn:hover {
  background: rgb(226, 149, 5);
}

.delete-btn {
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background: #dc3545;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 10px 10px 0 0;
  border-radius: 0.3rem;
}

.delete-btn:hover {
  background: #ca3847;
}

.add-post {
  color: white;
  font-size: 1rem;
  float: right;
  cursor: pointer;
  border: none;
  background: blue;
  padding: 13px 20px;
  font-weight: 800;
  line-height: 1em;
  border-radius: 0.4rem;
}

.add-post:hover {
  background: #0078F5;
}

.input-box {
  width: 93%;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
  margin-bottom: 5px;
}

.label {
  font-size: inherit;
  line-height: 1.5;
}

.button {
  color: white;
  font-size: 0.9rem;
  float: right;
  cursor: pointer;
  border: none;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1em;
  margin-right: 5px;
  border-radius: 0.4rem;
}

.submit-btn {
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background: 	#09A8C7;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 10px 7px 0 0;
  border-radius: 0.3rem;
}

.submit-btn:hover {
  background: #006BF5;
}

.list {
  margin: 5px;
  background: white;
  padding: 10px;
  border-radius: 15px;
  pointer-events: auto;
}

.list:hover {
  background: #80616151;
}

h3,
h4,
p {
  margin: 5px 0 5px 0;
}